---
layout: base.njk
title: woah pretty cool

introtitle: Hi! I'm Ethan.
introsubtitle: I do stuff with code. 
---
<header id="intro-text-header">
    <img src="https://twitter.github.io/twemoji/v/latest/svg/1f44b.svg" alt="" id="side-image">
    <div>
        <h1 id="intro-title">
            <span class="underlined">{{ introtitle }}</span></h1>
        <h2 id="intro-subtitle">{{ introsubtitle }}</h2>
    </div>
</header>

<div>
<p>mmm content man i love content i wish i had a lorum ipsum to put here but that would be lazy and uhhhhh idk what you put in this part, i probably have a projects page anyway soo uhhh</p>
</div>