---
layout: base.njk
title: woah pretty cool
---
<header id="intro-text-header">
    <img src="https://twitter.github.io/twemoji/v/latest/svg/1f44b.svg" alt="">
    <div>
        <h1>
            <span class="underlined">Hello! I'm Ethan.</span></h1>
        <h2>I do stuff with code.</h2>
    </div>
</header>
